<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KutuphaneVeritabani.Properties.Settings.kutuphane1927ConnectionString"
            connectionString="Data Source=WIN-SERVER\SQLEXPRESS;Initial Catalog=kutuphane1927;Persist Security Info=True;User ID=sa;Password=abcd1234."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>